@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  cursor: default;
}

button,
a,
[role="button"],
input,
textarea,
select,
.cursor-pointer {
  cursor: pointer;
}

@utility grid-auto-fit {
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(80px, 15vw, 120px), 1fr)
  );
}
